div > span {
	font-size: 12pt;
}

#wrap {
	margin-left: auto;
	margin-right: auto;
}

.find {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 410px;
	display: inline-block;
}

.findDiv{
	text-align: center;
}

#findName, #findId {
	text-align: center;
	width: 20%;
}

#findPhone, #findPhone2 {
	text-align: center;
	width: 20%;
}

.findBtnDiv {
	text-align: center; 
}