@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Pretendard-Regular';
	background: #ffffff;
}

header {
	position: sticky;
	top: 0;
	z-index: 1;
	background: #ffffff;
}

#logo {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
	height: 20px;
}

#editBtn:hover {
	cursor: pointer;
}

#profileDiv {
	height: 450px;
	background-color: #EEECE2;
}

#String {
	display: inline-block;
	padding-top: 150px;
}

#profileDiv span {
	font-weight: bold;
	font-size: 25pt;
}

#profileDiv span:nth-child(1) {
	padding-top: 50px;
}

#profileDiv span:nth-child(3) {
	font-weight: bold;
	font-size: 40pt;
}

#profileContent {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

#banner {
	padding-top: 50px;
	float: right;
	width: 500px;
	height: 400px;
}

#gradeDiv {
	position: relative;
	top: -20px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15pt;
	font-weight: bold;
	margin-bottom: 70px;
}

#missionDiv {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#grade_img {
	margin-right: 10px;
	width: 35px;
	height: 35px;
}

.checkDiv {
	color: #ff0000;
	font-size: 10pt;
}

.seq {
	width: 1%;
}

.subject {
	font-weight: bold;
	font-size: 15pt;
}

.img {
	width: 230px;
	height: 210px;
}

.img img {
	width: 100%;
	height: 100%;
	border-radius : 10px;
}

input[value='미션 보러가기'] {
	font-family: 'Pretendard-Regular';
	color: #fff;
	padding: 10px;
	border: none;
	background: #0000ff;
	box-shadow: 0px 3px 5px gray;
	margin-right: 10px;
}

input[value='도망가기'] {
	font-family: 'Pretendard-Regular';
	color: #fff;
	padding: 10px;
	border: none;
	background: #c54245;
	box-shadow: 0px 3px 5px gray;
}

input[value='종료된 미션입니다.'] {
	font-family: 'Pretendard-Regular';
	color: #fff;
	padding: 10px;
	border: none;
	background: #000000;
	box-shadow: 0px 3px 5px gray;
}

input[value='종료된 미션입니다.']:hover {
	cursor: default;
	opacity: 100%;
}

.expire {
	opacity: 30%;
}

footer {
	text-align: center;
	background: #f9f9f9;
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: absolute;
	width: 100%;
}

input[type="button"], input[type="reset"], input[type="text"] {
	border-radius: 5px;
}