@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Pretendard-Regular';
}

header {
	position: sticky;
	top: 0;
	z-index: 1;
	background: #ffffff;
}

#logo {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
	height: 20px;
}

#editBtn {
	font-size: 9pt;
	float: right;
	margin-top: 9px;
	margin-right: 20px;
	background: #0000FF;
	color: #ffffff;
	padding: 5px;
	border: 1px solid blue;
	box-shadow: 0px 3px 5px gray;
}

#logoutBtn {
	font-size: 9pt;
	float: right;
	margin-top: 9px;
	margin-right: 20px;
	color: #ffffff;
	padding: 5px;
	box-shadow: 0px 3px 5px gray;
	border: 1px solid black;
	background: #000000;
}

#profileDiv {
	height: 400px;
	background-color: #EEECE2;
}

#String {
	display: inline-block;
	padding-top: 100px;
}

#profileDiv span {
	font-weight: bold;
	font-size: 25pt;
}

#profileDiv span:nth-child(1) {
	padding-top: 50px;
}

#profileDiv span:nth-child(3) {
	font-weight: bold;
	font-size: 40pt;
}

#profileContent {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	height: 100%;
}

#banner {
	float: right;
	width: 500px;
	height: 350px;
}

#gradeDiv {
	position: relative;
	top: -20px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15pt;
	font-weight: bold;
	margin-bottom: 50px;
}

#missionDiv {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#grade_img {
	margin-right: 10px;
	width: 35px;
	height: 35px;
}

#carousel {
	margin-top: 20px;
}

.item {
	padding-left: 11px;
}

.card img {
	height: 170px;
}

footer {
	text-align: center;
}

.checkDiv {
	color: #ff0000;
	font-size: 10pt;
}

#subject {
	font-weight: bold;
	font-size: 20pt;
}

#img {
	text-align: center;
	vertical-align: middle;
}

td img {
	width: 180px;
	height: 180px;
	border-radius: 15px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

.missionList:hover {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	color: #ffffff;
}

.missionList:hover * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.missionList:hover:before {
	border-radius: 5px;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	top: 100%;
	content: '';
	background-color: rgba(51, 51, 51, 0.5);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.missionList img {
	vertical-align: top;
	max-width: 100%;
	backface-visibility: hidden;
}

.missionList figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.missionList a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.missionList:hover:before, .missionList.hover:before {
	top: 10px;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.missionList:hover h3, .missionList.hover h3, .missionList:hover h5,
	.missionList.hover h5 {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.missionList:hover h3, .missionList.hover h3 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.missionList:hover h5, .missionList.hover h5 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}