@charset "UTF-8";

        /*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        .rootAppHeader {
            position: sticky;
		    top: 0;
		    z-index: 1;
		    background: #ffffff;
		    font-family: 'Pretendard-Regular', sans-serif;

        }

        a{
            text-decoration: none;
        }
        
      	#logo{
      		margin-top: 15px;
		    margin-bottom: 15px;
		    margin-left: 20px;
		    height: 20px;
	     }
	     
	     .headerBtn {
		    font-size: 10pt;
		    float: right;
		    margin-top: 9px;
		    margin-right: 20px;
		    background: #0000FF;
		    color: #ffffff;
		    padding: 5px;
		    border: 1px solid blue;
		    box-shadow: 0px 3px 5px gray;
		}
	     

        .mainContainer {
            margin-top: 70px;
            font-family: 'Pretendard-Regular', sans-serif;
            width: 50%;

        }

        .mainContainer div{
            margin-top: 10px;
            /* margin-bottom: 10px; */
            padding-top: 10	px;
            /*padding-bottom: 10px;*/
        }


        .mainContainer .subject{
            padding-bottom: 0px;
            padding-top:50px;
        }

        .mainContainer .subject h1{
            font-size: 25pt;
            font-weight: bold;
        }

        .mainContainer .label{

        }

        .mainContainer .label h4{
            font-size: 22px;
        }

        .mainContainer .label h4 .innerLabel{
            background-color: #d6ebff;
            color: black;
        }

        .mainContainer .userInfo .userInfo2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 5px;
            margin-left: 5px;
            margin-top: 25px;
            margin-bottom: 15px;
            font-size: 13pt;
        }

        .mainContainer .userInfo .userInfo2 .userInfo3 {
            margin: 0px;
            padding: 0px;
        }

        .mainContainer .userInfo .userInfo2 .dateDiv {
            margin: 0px;
            padding: 2px;
            display: flex;
            flex-direction: column;
            font-size: 14pt;
        }

        .mainContainer .userInfo .userInfo2 .likeDiv {
            margin: 0px;
            padding: 1px;
            display: flex;
            justify-content: center;
        }

        .mainContainer .contentContainer {
            margin-top: 50px;
            height: auto;
            font-size: 15pt;
            text-align: left;
        }

        .contentContainer .missionBtn {
            margin-top: 20px;
            padding: 0px;
            display: flex;
            align-items: center;
        }

        .contentContainer .missionBtn .msBtn{
            font-weight: normal;
            align-items: center;
            height: 50px;
            width: 640px;
            background: #0000FF;
   		    color: #ffffff;
    	    padding: 5px;
    	    border: 1px solid blue;
    	    box-shadow: 0px 3px 5px gray;
            margin-top: 30px;
            font-family: 'Pretendard-Regular', sans-serif;
        }

        .footer {
            margin-top: 180px;
            margin-bottom: 60px;
        }
        .footer .footerDiv p {
            margin: 5px;
            font-size: 10pt;
            font-family: 'Pretendard-Regular', sans-serif;
        }
