/* 대시 보드 css */
@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
}
/* header style */
header {
	width: 100%;  
	position: sticky;
	top: 0;
	z-index: 1;
	background: #ffffff;
}

#navbarNav a {
	font-weight: bold;
	font-size: 16px;
	color: #212529;
	text-decoration: none
}

.navbar {
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbarNav a:hover {
	color: #6c757d;
}

.nav-link {
	color: #6c757d;
	font-weight: 500;
	margin-right: 20px;
}

.OMGlogo img {
	height: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
}
#OMG_btn a {
	font-weight: bold;
	font-size: 16px;
	color: #212529;
	text-decoration: none;
}

#OMG_logout:hover, #OMG_page:hover {
	color: #6c757d;
}

.list {
  float: right;
  margin-right: 20px;
}

.sec {
  display: flex;
  justify-content: space-between;
}

.sec_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.sec_btn:hover {
  color: #0080ff;
}

.sec_btn:active {
  color: #ffffff;
}

*:focus {
  outline: none;
}

/*body style*/
body {
    font-weight: 400;
	font-size: 140%; 
	line-height: 1.4;
	color: #333;
	background-color: #FFFFFF;
	margin: 0;
	margin-bottom:0px;
	height:80%
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {position:relative; min-height:100%;}
.wrapper .header {height:90px;}
.wrapper .contents {padding-bottom:150px;}
.wrapper .footer {position:absolute; width:100%; height:200px; bottom:0;}

entPaging{
	text-align:center;
	font-size: 15px;
	font-weight: bold;
	color:blue;
	text-decoration:underline;
	cursor: pointer;
	margin-right: 10px;
    margin-left: 10px;
}
#paging{
	text-align:center;
	font-size: 15px;
    color: gray;
	text-decoration:none;
	cursor: pointer;
	
}
.member {
    margin-top: 100px;
}

#userListTable {
    margin: 0 auto; /* 수평 가운데 정렬 */
    text-align: center; /* 내용 가운데 정렬 */
  }

#memberPagingDiv {
     margin-top: 10px;
     width: 450px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
  }

#changeDiv {
  position: relative;
  top: -60px;
}

h2 {
  text-align: center;
  width:150px;
}
.text-center{
	margin-left: 50px;
  	margin-top: 20px;
  	margin-bottom: 20px;
}
#userListTable {
  top:30px;
  border-collapse: separate;
  border-spacing: 2px 2px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  width:1200px;
  border-radius: 7px;
  border: 2px solid #87B5FF;
}

th,
td {
  padding: 2.55rem;
  text-align: center;
  border-top: 1px solid #d6ebff;
  border-bottom: 1px solid #d6ebff;
  border-left: none;
  border-right: none;
}

thead{
	background-color: #b6d0fa;
	text-align:cetner;
	border-bottom: 3px solid black;
  	border-collapse: collapse;
}

.admin_board_head {
    text-align: center;
    font-size: 16pt;
  }

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

th {
  font-weight: bold;
  background-color: #d6ebff;
  border-bottom: 2px solid #d6ebff;
}

tbody tr:nth-of-type(even) {
  background-color: #eaf4ff;
}

/* 마지막 행 배경 색상 */
tbody tr:last-of-type {
  border-top: 2px solid #d6ebff;
}

div#grayLayer {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: black;
	/* filter: alpha(opacity=60); */
	opacity: 0.60;  /* 0.0 ~ 1.0, 값이 작을수록 더 투명하게 만든다. */
	z-index: 100;
}



/* Footer */
footer {
	position:relative;  
    background-color: #f7f7f7;
    color: #000000;
    padding: 50px 0;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:0px;
}

footer p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

footer p strong {
    font-weight: 700;
}

footer {
    text-align: center;
}


