/* 대시 보드 css */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
	font-family: 'Pretendard-Regular';
}

/* 헤더 스타일 */
header {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
	background: #ffffff;
}

#navbarNav a {
	font-weight: bold;
	font-size: 16px;
	color: #212529;
	text-decoration: none
}

.navbar {
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbarNav a:hover {
	color: #6c757d;
}
.nameBtn:hover {
	cursor: pointer;
}
.nav-link {
	color: #6c757d;
	font-weight: 500;
	margin-right: 20px;
}

.OMGlogo img {
	height: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
}
#OMG_btn a {
	font-weight: bold;
	font-size: 16px;
	color: #212529;
	text-decoration: none;
}

#OMG_logout:hover, #OMG_page:hover {
	color: #6c757d;
}

.list {
  top:40px;
  float: right;
  margin-right: 20px;
}

.sec {
  display: flex;
  justify-content: space-between;
}

.sec_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 16px;
}

.sec_btn:hover {
  color: #0080ff;
}

.sec_btn:active {
  color: #ffffff;
}

*:focus {
  outline: none;
}


body {
    font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: #333;
	background-color: #FFFFFF;
	margin: 0;
	width: 100%;
	padding: 0;
	
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin: 0 auto;
  display: inline-block;
}

h3 {
  padding-left: 221px;
  margin: 0 auto;
  padding-top: 14px;
  margin-bottom: 10px;
}

p {
  padding: 0 0 10px 5px;
  width: 500px;
  margin: 0;
  font-size: 13px;
}

th,
td {
  border-radius: 0;
}

.list{
	display:flex;
	align-items:center;		
}
.sec-option {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
}

.search_onclick_submit {
  margin-left: 10px;
}
.search-container>input {
  border: 1px solid gray;
  position: relative;
  height: 26px;
}

.search-option {

  width: 70px;
  border-radius: 5px;
  padding: 1.5px 0;
}

.search_onclick_submit {
  margin-left: -2px;
}
.search-input{
  border-radius: 5px;
}
.search_onclick_submit{
	
    box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:blue;
	background-color: blue;
	border-radius:5px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}


.modal_list_end_btn,
.modal_reply_end_btn {
  /* border: 3px solid #8947e9;
  background-color: #b9a9d1; */
  box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color: rgb(159, 204, 147);
	border-radius:5px;
	border:1px solid rgb(159, 204, 147);
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

.admin_boardM_content,
.admin_reply_content {
  width: 500px;
  background: whitesmoke;
  margin: 0 auto;
  padding: 11px;
  font-size: 14px;
}

.admin_boardM_title,
.admin_boardM_nm,
.admin_reply_title,
.admin_reply_con {
  padding-right: 20px;
  padding-left: 20px;
}

.admin_replyList,
.admin_boardMList {
  font: 14px bold;
}


#paging,
#pagingM {
  width: 580px;
  text-align: center;
  line-height: 15px;
  margin: 0 auto;
  margin-top: 10px;
}

#paging a.prev {
  font: 3px;
  color: gray

}

#pagingM a.prev {
  font-size: 1px;
  color: gray
}

#paging .selected,
#pagingM .selected {
  font-weight: bold;
  color: rgb(159, 204, 147);
}

#paging a.num {
  border: #AAAAAA 1px solid;
  background-color: #FFFFFF;
  color: gray;
  padding: 3px 6px;
  margin: 3px;
  font: 3px;
}

#pagingM a.num {
  border: rgb(159, 204, 147) 1px solid;
  background-color: #FFFFFF;
  color: gray;
  padding: 3px 6px;
  margin: 3px;
  font-size: 1px;
}

#pagingM a:hover.num,
#paging a:hover.num {
  border: gray 3px solid
}



/* member */
.member {
  width: 1200px;
  height: 800px;
  position: relative;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.member_title {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  right: 567px;
}


.sec{
  width: 602px;
  display: inline-block;
  margin: 27px 101px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
  color: #000000;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* 박스 모델 기본값 설정 */
  position: absolute;
  bottom: 0;
  height: 50px; /* footer의 높이를 50px로 설정 */
  margin-top: -50px; /* footer의 높이와 동일한 음수값으로 margin-top을 설정하여 위와 아래의 글 간격을 동일하게 조정 */
}

footer p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px; /* 아래쪽 margin을 5px로 변경 */
  display: inline-block; /* 가운데 정렬을 위해 block 요소로 설정 */
  text-align: center; /* 가운데 정렬 설정 */
  width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
}

footer p strong {
  font-weight: 700;
}







