/* 대시 보드 css */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
	font-family: 'Pretendard-Regular';
}

/* 헤더 스타일 */
header {
	width: 100%;  
	position: sticky;
	top: 0;
	z-index: 1;
	background: #ffffff;
}

#navbarNav a {
	font-weight: bold;
	font-size: 16px;
	color: #212529;
	text-decoration: none
}

.navbar {
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbarNav a:hover {
	color: #6c757d;
}

.nav-link {
	color: #6c757d;
	font-weight: 500;
	margin-right: 20px;
}

.OMGlogo img {
	height: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
}
#OMG_btn a {
	font-weight: bold;
	font-size: 16px;
	color: #212529;
	text-decoration: none;
}

#OMG_logout:hover, #OMG_page:hover {
	color: #6c757d;
}

.list {
  float: right;
  margin-right: 20px;
}

.sec {
  display: flex;
  justify-content: space-between;
}

.sec_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.sec_btn:hover {
  color: #0080ff;
}

.sec_btn:active {
  color: #ffffff;
}

*:focus {
  outline: none;
}


body {
    font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: #333;
	background-color: #FFFFFF;
	margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}




/* Footer */
footer {
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
  color: #000000;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* 박스 모델 기본값 설정 */
  position: absolute;
  bottom: 0;
  height: 50px; /* footer의 높이를 50px로 설정 */
  margin-top: -50px; /* footer의 높이와 동일한 음수값으로 margin-top을 설정하여 위와 아래의 글 간격을 동일하게 조정 */
}

footer p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px; /* 아래쪽 margin을 5px로 변경 */
  display: inline-block; /* 가운데 정렬을 위해 block 요소로 설정 */
  text-align: center; /* 가운데 정렬 설정 */
  width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
}

footer p strong {
  font-weight: 700;
}


