@charset "UTF-8";

/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/



@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


  
* {
    font-family: 'Pretendard-Regular';
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fbfafa ;
    margin: 0;
}


Header {
    /* 	 	 border: 2px solid red; */

    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #ffffff;
    height: 50px;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

#logo{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 20px;
}

#navbarNav a {
    font-weight: bold;
    font-size: 16px;
    color: #212529;
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbarNav a:hover {
    color: #6c757d;
}

.OMGlogo img {
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}



.headerBtn {
    font-size: 10pt;
    float: right;
    margin-top: 9px;
    margin-right: 20px;
    background: #0000FF;
    color: #ffffff;
    padding: 5px;
    border: 1px solid blue;
    box-shadow: 0px 3px 5px gray;
}

#box {
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    padding-bottom:10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.form-select  {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    font-size: 12pt;
}

#box .main1 div{
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    /*border: 2px solid pink;*/
}

#box .main2 {
    margin-left: 20px;
    margin-right: 20px;

    align-items: center;
    /*border: 2px solid pink;*/
}

#box h2{
    font-size: 25pt;
    font-weight: bold;
}

#box .subject .form-control{
    height: 45px;
    width: 70%;
    margin-left: 14px;
    margin-right: 14px;
    align-items: center;
    /*font-size: 13pt;*/
}

#box .subject{
    padding: 0px;
    margin: 0px;
}

#box label{
    margin-top: 0px;
    font-size: 22px;

}

.category{
    /* border:2px solid green; */
    margin-bottom: 0px;

}

#category{
}


#box .label h4 .innerLabel{
    background-color: #d6ebff;
    color: black;
}

/*  미션 기간 선택 */
.input-group {
    position: relative;
    margin-bottom: 0px;
    /* border: 2px solid yellowgreen; */
    width:80%;

}

.input-group label {
    position: absolute;
    top: -20px; /* 라벨을 달력 위로 20px 이동 */
    margin-top: 9px;
    left: 10px; /* 라벨을 왼쪽으로 10px 이동 */
    /*  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
     background-color: #f5f5f5;
     font-size: 13pt; */
}

.input-group .dateDiv{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    left: 15px;
    top: 8px;

}

.input-group #datetimepicker1Input{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 60%;
    top: -10px;

}

.input-group #datetimepicker1Input2{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 15px;
    width: 60%;
    top: -10px;
}


.input-group .input-group-text{
    position: relative;
    display: flex;
    margin-top: 0px;
    width: 40px;
    height: 38px;
    align-items: center;
    top: -5px;
    background-color: #0000FF;
}

#date1Span, #date2Span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
}

.input-group .fa-solid{
    align-items: center;
    margin-left: 0.6px;
    color: white;

}



#box .main1 .maxmember {
    top:8px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin:0px;
}


.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button {
    display: flex;
    justify-content: left;
    /*border: 2px solid red;*/
    width: 95%;
    margin-left:10px;
}

label {
    cursor: pointer;
    font-size: 1em;

}


.label-text {
    text-indent: 15px;
}

span{
    color: red;
    margin-left:13px;
    font-size: 12pt;
    margin-top:0px;
}

#chooseFile {
    visibility: hidden;
}

/* 모달 컨텐츠 스타일 */
.modal-content {
  background-color: white;
  margin: auto;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 100%; /* 모달 컨텐츠 너비 */
  height: 70%;
  max-width: 500px; /* 모달 컨텐츠 최대 너비 */
}

/* 모달 닫기 버튼 스타일 */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 18px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* 모달 배경 스타일 */
.modal {
  display: none; /* 모달 초기에 숨기기 */
  position: fixed; /* 모달이 화면을 가리도록 설정 */
  z-index: 1; /* 모달을 가장 위쪽에 배치 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow: auto; /* 스크롤 가능하도록 설정 */
  background-color: rgba(0,0,0,0.5); /* 배경 색상 및 투명도 설정 */
  border-radius: 5px;
}



.fileInput {
    justify-content: flex;
    display: flex;
    align-items: center;
    border: solid 2px lightgrey;
    border-radius: 5px;
    width: 40%;
    height: 20%;

}

#fileName {
    margin-left: 5px;

}


.contentLabel{
    margin-left: 5px;


}

#box .missionBtn {
    margin-top: 15px;
    padding: 0px;
    display: flex;
    align-items: center;

}


.ck-editor__editable {
    min-height: 300px;
    font-weight: normal;
}

#box .missionBtn #msBtn{
    font-weight: normal;
    font-size: 18px;
    align-items: center;
    height: 70%;
    width: 100%;
    background-color: #0000ff;
    border-color: #0000ff;
    color: #ffffff;
    padding: 10px;

    border-radius:5px;

    box-shadow: 0px 3px 5px gray;
    margin-top: 30px;
    margin-bottom: 10px;
}


footer {
    background-color: #f7f7f7;
    color: #000000;
    padding: 50px 0;
}

footer p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

footer p strong {
    font-weight: 700;
}

footer {
    text-align: center;
}
