@charset "UTF-8";

        /*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }
        
        * {
			font-family: 'Pretendard-Regular';
		}

      body {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.6;
		color: #333;
		background-color: #fbfafa ;
		margin: 0;
	  }


      Header { 	 
/* 	 	 border: 2px solid red; */
	    
	     width: 100%;
		 position: sticky;
		 top: 0;
		 z-index: 1;
		 background: #ffffff;
		 
      }
      

      a{
        text-decoration: none;
      }
      
		#navbarNavStart{
		
			margin-left: -19%;
			display: flex;
          	align-items: center;
		}
		
		#navbarNavEnd{
		
			/* margin-right: -20%; */
		}
		
		
		.navbar-nav a {
			font-weight: bold;
			font-size: 16px;
			color: #212529;
			text-decoration: none
		}
		
		.navbar {
			background-color: #fff;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
		
		.navbar-nav a:hover {
			color: #6c757d;
		}
		
		.nav-link {
			color: #333;
			font-weight: 500;
			margin-right: 12px;
		}
		
		
		.OMGlogo img {
			height: 21px;
			margin-top: 1.2%;
			margin-left: -12%;
		
		}
	
	     
		.headerBtn {
		    font-size: 10pt;
		    float: right;
		    margin-top: 9px;
		    margin-right: 20px;
		    background: #0000FF;
		    color: #ffffff;
		    padding: 5px;
		    border: 1px solid blue;
		    box-shadow: 0px 3px 5px gray;
		}
	     

      #box {
		margin: 50px auto; 
		background-color: #ffffff;
		padding: 30px;
		padding-bottom:10px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	}
	
		
		
		.form-select  {
			width: 70%;
			height: 40px;
			border-radius: 5px;
			border: none;
			padding: 5px;
			margin-top: 10px;
			margin-bottom: 1px;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
			background-color: #f5f5f5;
			font-size: 12pt;
		}
		
		.mainThumbnail{
			margin-bottom:23px;
		}


        #box div{
            margin-top: 10px;
            /* margin-bottom: 10px; */
            padding-top: 10	px;
            /*padding-bottom: 10px;*/
        }

        #box .subject{
            padding-bottom: 0px;
            padding-top:20px;
            margin-left: 14px;
            margin-right: 46%; 
            
        }

        #box .subject h1{
            font-size: 25pt;
            font-weight: bold;
        }
        
        #memberNum{
        
        	display: flex;
            justify-content: center;
            /* border: 2px solid green; */
            /* margin-top: 20px; */
            
          /*  border: 2px solid green; */
            
        }
        
        #memListBtn{	
        	background-color: transparent;
  			border: none;
        	
        	
        }
        
        #memberNumText{
        	display: flex;
            
            /*line-height: 1.5;*/
            
            font-size: 13pt;
        	
        	background-color: #B7D3FF;
        	color: #282828;
        	margin: 0px;
        	border-radius: 12px;

            padding: 10px;
        }
        
        
        .tooltip-inner {
			  max-width: 500px;
			  width: 100%;
			  font-size: 13pt;
			  margin-top: -9%; 
			  display: flex; 
			  justify-content: flex-end;
			  margin-right:0.8%;
		}


        #box .label h4{
            font-size: 22px;
        }

        #box .label h4 .innerLabel{
            background-color: #d6ebff;
            color: black;
        }

        #box .userInfo .userInfo2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 5px;
            margin-left: 5px;
            margin-top: 25px;
            margin-bottom: 23px;
            font-size: 13pt;
            
       
        }
        
        .input-group{
        	padding: 0px;
        
        }

        #box .userInfo .userInfo2 .userInfo3 {
            margin: 0px;
            padding: 0px;
 
        }

        .dateDiv {
            margin: 0px;  
            padding: 0px;
            display: flex;
            margin-bottom: 0px;
            width: 50%;
            font-size: 14pt;
        }

        #box .userInfo .userInfo2 .likeDiv {
            margin: 0px;
            padding: 1px;
            display: flex;
            justify-content: center;
        }
       

       #box .contentContainer {
            margin-top: 40px;
            height: auto;
            font-size: 15pt;
            text-align: left;
        }

        #box #missionBtn {
	        margin-top: 15px;
	        padding: 0px;
	        display: flex;
	        align-items: center;
	     
	      }

         #box #missionBtn #msBtn{
	          font-weight: normal;
	          font-size: 18px;
	          align-items: center;
	          height: 70%;
	          width: 100%;
	          background-color: #0000ff;
			  border-color: #0000ff;
			  color: #ffffff;
	    	  padding: 10px;
			  
			  border-radius:5px;
			  	
	    	  box-shadow: 0px 3px 5px gray;
	          margin-top: 30px;
	          margin-bottom: 10px;
      	}
      	
      	
      	#box #missionBtn #backBtn{
	          font-weight: normal;
	          font-size: 20px;
	          align-items: center;
	          height: 55%;
	          width: 45%;
	          background-color: #0000ff;
			  border-color: #0000ff;
			  color: #ffffff;
	    	  padding: 10px;
			  
			  border-radius:5px;
			  	
	    	  box-shadow: 0px 3px 5px gray;
	          margin-top: 3%;
	          margin-left:28%;
	          margin-bottom: 5%;
      	}
      	

       footer {
			background-color: #f7f7f7; 
			color: #000000;
			padding: 50px 0;
		}

      footer p {
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
		}
		
		footer p strong {
			font-weight: 700;
		}
		
		footer {
			text-align: center;
		}